# Day 3: Python Loops
## Lecture Notebook

This notebook is for live coding on loops. We'll iterate with `for` and `while`, compare when to use each, and practice common patterns.

---

## ðŸŽ¯ Goals for This Session
- Iterate lists and ranges with `for`
- Control repetition and termination with `while`
- Choose the right loop for the job

---

## ðŸ” Part 1: For Loops

### Demo 1.1: Iterating Over a List
Iterate over `orders = [45, 120, 75, 200, 95]` and compute total and count of orders >= 100.

In [3]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [7]:
# Live Code: For Loop over list

orders = [45, 120, 75, 200, 95]
total = 0
high_count = 0
for amount in orders:
  print (f'current total: {total} (current amount: {amount})\n')    #'f' formatting
  total = total + amount

print(f'Final total: {total}')

# print(total, high_count)

current total: 0 (current amount: 45)

current total: 45 (current amount: 120)

current total: 165 (current amount: 75)

current total: 240 (current amount: 200)

current total: 440 (current amount: 95)

Final total: 535

### Demo 1.2: Range and Index
Use `range` to iterate indexes for `names = ["Ava", "Ben", "Cara"]` and print index â†’ name.

In [11]:
# Live Code: range indices

names = ["Ava", "Ben", "Cara"]
for i in range(len(names)):
  print(i, names[i])

0 Ava
1 Ben
2 Cara

In [12]:
for i, name in enumerate(names):
  print(i, name)

0 Ava
1 Ben
2 Cara

In [14]:
for i, _ in enumerate(names):   # position 1 , position 2 (if _ used it doesnt display e.g. for _ , i = will print just names and not index)
  print(i)

0
1
2

## ðŸ”„ Part 2: While Loops

### Demo 2.1: Counter with Condition
Increment a counter until it reaches a limit; print steps.

In [ ]:
# Live Code: while loop counter

# count = 0
# limit = 5
# while ...:
#     ...
# print(count)

### Demo 2.2: Input Simulation with Sentinel
Simulate reading values until `None` is encountered, then stop.

In [16]:
# Live Code: sentinel loop

values = [10, 20, None, 30]
i = 0
while i < len(values) and values[i] is not None:
  i += 1
print(i)

2

## ðŸ§ª Part 3: Filtering/Mapping and Flow Control

### Demo 3.1: Filtering and Mapping
Use a loop to filter and then map values in a single pass.

In [23]:
# Live Code: Filtering and Mapping

prices = [9.99, 25.00, 4.50, 120.00, 49.99]
filtered = []  # keep prices >= 20
with_tax = []  # map to price * 1.0825 (example tax)

for price in prices:
  if price >= 20:
    filtered.append(price)
    with_tax.append(round(price * 1.0625,2))

print(filtered)
print(with_tax)
# print(filtered)
# print(with_tax)

[25.0, 120.0, 49.99]
[26.56, 127.5, 53.11]

Now let's write a list comprehension that returns a list of prices (with tax) for items >=$20:

In [22]:
for price in prices:
  if price >= 20:
    with_tax.append(round(price * 1.0625))

print(with_tax)

[27, 128, 53, 27, 128, 53]

### Demo 3.2: Early Exit and Skips
Demonstrating `break` to stop early and `continue` to skip items.

In [24]:
#Live Code: break and continue

numbers = [3, 7, -1, 10, 0, 5]
total = 0
for n in numbers:
    if n < 0:
        break  # early exit on invalid value
    if n == 0:
        continue  # skip zeros
    total += n
print(total)

10

In [28]:
#Live Code: break and continue

numbers = [3, 7, -1, 10, 0, 5]
total = 0
for n in numbers:
    # if n < 0:
    #     break  # early exit on invalid value
    if n < 0:
        print(f'\n WARNING::: Transaction vith value {n} is being skipped! \n')
        continue  # skip negatives
    print(f'Total before the current transaction: {total} (current transaction: {n})')
    total += n
print(f'Total Amount: {total}')

Total before the current transaction: 0 (current transaction: 3)
Total before the current transaction: 3 (current transaction: 7)

 WARNING::: Transaction vith value -1 is being skipped!

Total before the current transaction: 10 (current transaction: 10)
Total before the current transaction: 20 (current transaction: 0)
Total before the current transaction: 20 (current transaction: 5)
Total Amount: 25